<!DOCTYPE html>
<html>
<head>
   <title>Webpage design</title>
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
   <div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo"> PraRoz</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#"></a>Home</a></li>
                <li><a href="#"></a>About Us</a></li>
                <li><a href="#"></a>Services</a></li>
                <li><a href="#"></a>Design</a></li>
                <li><a href="#"></a>Contact</a></li>
            </ul>
        </div>

        <div class="search">
            <input class="srch" name="" placeholder="type to text">
            <a href="#"><button class="" btn>Search</button></a>
            
        </div>
    </div>
    <div class="content">
        <h1>Web Design & <br><span>develpoment</span> <br>Course</h1>
        <p class="par">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            <br> Aut officiis quaerat autem, nobis, accusamus iure aperiam ratione deserunt 
            <br> minima laboriosam dolorum itaque qui repudiandae quo corrupti voluptatibus sed dolore sapiente!</p>
            <button class="cn"><a href="#"> JOIN US <a></button>
                  
            <div class="Form">    
                <h2>login here</h2>
                <input type="email" placeholder="Enter Email here">
                <input type="password" placeholder="Enter password here">
                <button class="btn"><a href="#">login</a></button>

                <p class="link">Don't have an account<br>
                <a href="#">Sign Up here</a></p>
                <p class="liw">log In with</p>
                <div class="icon">
                    <a href="#"><ion-icon name= "logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name= "logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name= "logo-google"></ion-icon></a>
                    <a href="#"><ion-icon name= "logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name= "logo-skype"></ion-icon></a>
                </div>
            </div>

              </div>
            </div>
   </div>
</div>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>